/*==========ШРИФТЫ================*/



/* quicksand-300 - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/quicksand-v28-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/quicksand-v28-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* quicksand-500 - latin */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/quicksand-v28-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/quicksand-v28-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* quicksand-700 - latin */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/quicksand-v28-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/quicksand-v28-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


  A {
    color: #0079D4; /* Цвет ссылок */
   }



html{
    box-sizing: border-box;
    }


    @media screen and (min-width: 601px) {
        .header {
          font-size: 15px;
        }
      }
      @media screen and (max-width: 600px) {
        .header {
          font-size: 8px;
        }
      }

  *, *::before, *::after{
    box-sizing: inherit;
  }






  body {   
    /* Местоположение фоновой картинки */   background-image: url(../img/kaba.jpg);      
    /* Фоновое изображение выровнено по центру в горизонтальной и вертикальной плоскостях */   background-position: center center;      
    /* Фон не повторяется */   background-repeat: no-repeat;      
    height: 6138px;
    width: 100%;

    border-radius: 0px;

    /* Фон зафиксирован в области просмотра и потому не двигается, когда высота контента превышает высоту изображения */       
    /* Это свойство заставляет фон менять масштаб при изменении размеров содержащего его контейнера*/   background-size: cover;      
    /* Цвет фона, который будет отображаться при загрузке фоновой картинки*/   background-color: #464646; }
